<div class="jumbotron text-center">
	<h1>Mue Tube</h1>
	<p>Welcome to our Mue Tube app. Here you upload videos and watch!</p>
	<div>
		<button class="btn-primary btn" [routerLink] = "['/register']">Signup</button>
		<button class="btn btn-default" [routerLink] = "['/login']">Login</button>
	</div> 
</div>
<div class="row">
	<div class="col-md-4">
		<h3>Sign up</h3>
		<p>Make an account and have fun</p>
	</div>
	<div class="col-md-4">
		<h3>upload</h3>
		<p>now share your videos with others</p>
	</div>
	<div class="col-md-4">
		<h3>Watch</h3>
		<p>find out what other have posted on MueTube</p>
	</div>
</div>